@font-face {
	font-family: 'Corbel';
	src: url('Corbel.eot');
	src: local('Corbel'),
		url('Corbel.eot?#iefix') format('embedded-opentype'),
		url('Corbel.woff') format('woff'),
		url('Corbel.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Corbel';
	src: url('Corbel-Bold.eot');
	src: local('Corbel Bold'), local('Corbel-Bold'),
		url('Corbel-Bold.eot?#iefix') format('embedded-opentype'),
		url('Corbel-Bold.woff') format('woff'),
		url('Corbel-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Corbel';
	src: url('Corbel-Italic.eot');
	src: local('Corbel Italic'), local('Corbel-Italic'),
		url('Corbel-Italic.eot?#iefix') format('embedded-opentype'),
		url('Corbel-Italic.woff') format('woff'),
		url('Corbel-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Corbel';
	src: url('Corbel-BoldItalic.eot');
	src: local('Corbel Bold Italic'), local('Corbel-BoldItalic'),
		url('Corbel-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Corbel-BoldItalic.woff') format('woff'),
		url('Corbel-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}


/* width */
::-webkit-scrollbar {
    width: 0.325rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-left: var(--scrollbar-track-color) solid 0.15rem;
}
.card ::-webkit-scrollbar-track,
.displayed-card ::-webkit-scrollbar-track {
    border-left: var(--card-scrollbar-track-color) solid 0.15rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-left: var(--scrollbar-handle-color) solid 0.15rem;
}
.card ::-webkit-scrollbar-thumb,
.displayed-card ::-webkit-scrollbar-thumb {
    border-left: var(--card-color) solid 0.15rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-left: var(--icon-color-hover) solid 0.15rem;
}
.card ::-webkit-scrollbar-thumb:hover,
.displayed-card ::-webkit-scrollbar-thumb:hover {
    border-left: var(--card-color) solid 0.35rem;
}

/* Handle on pressed */
::-webkit-scrollbar-thumb:active {
    border-left: var(--scrollbar-handle-color) solid 0.35rem;
}
.card ::-webkit-scrollbar-thumb:active,
.displayed-card ::-webkit-scrollbar-thumb:active {
    border-left: var(--card-color) solid 0.35rem;
}

.vertically-scrollable {
    margin-right: 0.15rem !important;
}


body {
    margin: 0rem;
    outline: none;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Corbel, Calibri;
    background-image: url("../imgs/background.jpg");
    background-size: cover;
    font-size: 1.0rem;
    zoom: 0.8;
    -ms-zoom: 0.8;
    /*overflow: hidden;*/
}

body.theme-dark {
    background-color: #12161f;
    background-image: url("../imgs/background_dark.jpg");
}

body.theme-black {
    background-image: none;
    background-color: black;
}


body.theme-light {
    --color: white;
    --outline-color: white;
    --card-background-color: white;
    --card-background-color-transparent: #ffffff80;
    --card-border-size: 0rem;
    --card-border-radius: 0.0rem;
    --card-border-color: white;
    --card-background-color-highlighted: #00000020;
    --card-hover-background-color: #eeeeee;
    --card-icon-color: black;
    --card-color: black;
    --card-color-hover:#404040;
    --icon-color: white;
    --icon-color-hover: #ffffffC0;
    --column-background-color: #ffffff40;
    --scrollbar-handle-color: white;
    --scrollbar-track-color: #ffffff80;
    --card-scrollbar-track-color: #00000040;
    --shadow-color: #00000040;
    --critical-color: #dd3322;
    --accent-color: black;
}

body.theme-dark {
    --color: #cad1e2;
    --outline-color: #b4bbcc;
    --card-background-color: #252c3b;
    --card-background-color-transparent: #252c3b80;
    --card-border-size: 0rem;
    --card-border-radius: 0.0rem;
    --card-border-color: #252c3b;
    --card-hover-background-color: #2f384b;
    --card-background-color-highlighted: #cad1e220;
    --card-icon-color: #cad1e2;
    --card-color: #cad1e2;
    --card-color-hover: #f8faff;
    --icon-color: #cad1e2;
    --icon-color-hover: #f8faff;
    --column-background-color: #12161f60;
    --scrollbar-handle-color: #d2d9e7;
    --scrollbar-track-color: #cad1e280;
    --card-scrollbar-track-color: #cad1e240;
    --shadow-color: #00000080;
    --critical-color: #d44444;
    --accent-color: #cad1e2;
}

body.theme-black {
    --color: white;
    --outline-color: #dddddd;
    --card-background-color: black;
    --card-background-color-transparent: black;
    --card-border-size: 0.125rem;
    --card-border-radius: 0.0rem;
    --card-border-color: #dddddd;
    --card-hover-background-color: #333333;
    --card-background-color-highlighted: #333333;
    --card-icon-color: white;
    --card-color: white;
    --card-color-hover: #dddddd;
    --icon-color: white;
    --icon-color-hover: #dddddd;
    --column-background-color: black;
    --scrollbar-handle-color: #eec40c;
    --scrollbar-track-color: #444444;
    --card-scrollbar-track-color: #888888;
    --shadow-color: #00000080;
    --critical-color: #f03030;
    --accent-color: #ffd000;
}


.header,
.card-column {
    background-color: var(--column-background-color);
    color: var(--color);
    border: 0.125rem solid var(--outline-color);
}


h2 {
    font: normal normal normal 1.5rem/1.5rem Corbel;
    letter-spacing: 0rem;
}

h3 {
    font: normal normal bold 1.25rem/1.5rem Corbel;
    letter-spacing: 0rem;
}


svg {
    stroke-width: 0.3rem;
}


ul,
ol {
    list-style-type: none;
    padding: 0rem;
}


button,
button:hover,
button:active,
button:focus {
    padding: 0rem;
    background-color: #00000000;
    border: none;
    outline: none;
}


label.checkbox {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin-bottom: 0rem;
}
label.checkbox span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
label.checkbox span:first-child {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 0.125rem solid var(--card-color);
    opacity: 50%;
    transition: all 0.1s ease;
}
label.checkbox span:first-child svg {
    position: absolute;
    width: 1.0rem;
    height: 1.0rem;
    z-index: 1;
    top: 0.175rem;
    left: 0.15rem;
    fill: none;
    stroke: var(--card-background-color);
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1.0rem;
    stroke-dashoffset: 1.0rem;
    transition: all 0.2s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
label.checkbox span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--card-color);
    display: block;
    transform: scale(0);
    opacity: 100%;
    border-radius: 50%;
    transition-delay: 0.1s;
}
label.checkbox span:last-child {
    margin-left: 0.5rem;
}
label.checkbox span:last-child:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 0.1rem;
    width: 0%;
    opacity: 100%;
    background: var(--card-color-hover);
    transform-origin: 0 0;
    transition: width 0.4s, opacity 0.5s, !important;
}
label.checkbox:hover span:first-child {
    border-color: var(--card-color);
}

input[type=checkbox]:checked + label.checkbox span:first-child {
    border-color: var(--accent-color);
    background: var(--accent-color);
    animation: check 0.3s ease;
    opacity: 100%;
}
input[type=checkbox]:checked + label.checkbox span:first-child svg {
    stroke-dashoffset: 0;
}
input[type=checkbox]:checked + label.checkbox span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.3s ease;
}
input[type=checkbox] + label.checkbox:not(.crossed) span:last-child {
    opacity: 75%;
}
input[type=checkbox]:checked + label.checkbox:not(.crossed) span:last-child {
    opacity: 100%;
}
input[type=checkbox]:checked + label.checkbox.crossed span:last-child {
    opacity: 50%;
    text-decoration: line-through;
    transition: all 0.2s ease;
}
input[type=checkbox]:checked + label.checkbox.crossed span:last-child:after {
    width: 100%;
    opacity: 0%;
}


label.checkbox.checkbox-small>span:first-child {
    transform: scale(0.7);
    border-width: 0.15rem;
}

label.checkbox.checkbox-small>span:first-child svg {
    stroke-width: 0.125rem;
    top: 0.175rem;
    left: 0.125rem;
}

@keyframes check {
    50% {
      transform: scale(1.2);
    }
}



.number {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}


.tag-color-0 {background-color: #17af7c; color: white; }
.tag-color-1 {background-color: #fbb024; color: white; }
.tag-color-2 {background-color: #a10087; color: white; }
.tag-color-3 {background-color: #bb1f0a; color: white; }
.tag-color-4 {background-color: #0092B9; color: white; }
.tag-color-5 {background-color: #9bc037; color: white; }
.tag-color-6 {background-color: #7073DA; color: white; }
.tag-color-7 {background-color: #df8041; color: white; }
.tag-color-8 {background-color: #dd3e4c; color: white; }


.critical,
.critical-on-hover:hover {
    color: var(--critical-color) !important;
}


@keyframes opacity-ease-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}


#board {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#board>div {
    margin-top: 3.75em;
    margin-bottom: 3.75em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


.card-column {
    padding-left: 0.0rem;
    padding-right: 0.0rem;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 0.15rem solid;
    border-color: var(--outline-color);
    /*padding-right: 0.125rem;*/
}

.card-column>.header {
    position: relative;
    height: 2.5em;
    outline: 0.15rem solid;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    border: none;
}

.column-header-name {
    position: absolute;
    top: 0rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.column-header-options {
    position: absolute;
    top: 0rem;
    right: 0rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column-header-name>h3 {
    margin-left: 0.5rem;
    align-self: center;
    margin-bottom: 0.1rem;
}

.column-header-name>svg,
.column-header-options>button>svg,
.column-header-options>svg {
    margin-left: 0.5rem;
    align-self: center;
    width: 1.2rem;
    height: 1.2rem;
    object-fit: contain;
}

.column-header-options>svg,
.column-header-options>button>svg {
    margin-right: 1.0rem;
    margin-left: 0.0rem;
    stroke-width: 0.4rem;
    color: var(--outline-color);
}

.column-header-options>button>svg {
    margin-bottom: 0.125rem;
}

.column-header-options>button:hover>svg {
    color: var(--icon-color-hover);
}


.card-column>.card-list {
    padding: 0rem;
    margin: 0rem;
    margin-top: 0.25rem;
    margin-bottom: 0.15rem;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: auto;
}

.card-list-droppable {
    margin-bottom: 0.0rem;
}

.card {
    color: var(--card-color);
    background-color: var(--card-background-color);
    margin: 0.15rem;
    margin-top: 0.0rem;
    margin-bottom: 0.1875rem;
    padding: 0.5rem;
    border: var(--card-border-size) solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    font: normal normal normal 1rem/1.2rem Corbel;
    -webkit-transition: background-color 0.5s, box-shadow 0.5s;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.card:hover {
    background-color: var(--card-hover-background-color);
    box-shadow: 0 0 0.5rem 0rem var(--shadow-color);
    --card-background-color: var(--card-hover-background-color);
}

.card>p {
    max-height: 3.5em;
    margin-bottom: 0.25rem;
    overflow-y: hidden;
}

.card>.task-list {
    margin-top: 0.25rem;
    margin-bottom: 0.0rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.card>.task-list svg {
    width: 1.0rem;
    height: 1.0rem;
    object-fit: contain;
    margin-left: 0.25rem;
    margin-right: 0.75rem;
    opacity: 50%;
    color: var(--card-color);
}

.card>.task-list>li.task-done,
.card>.task-list>li.task-todo {
    background-color: var(--accent-color);
    flex: 1;
    justify-self: center;
    height: 0.225rem;
}

.card>.task-list>li.task-todo {
    background-color: var(--card-scrollbar-track-color);
    opacity: 50%;
    height: 0.2rem;
}

.card>div {
    margin-top: 1.0rem;
    margin-bottom: 0.375rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
}

.card>.task-list + div {
    margin-top: 0.625rem;
    margin-bottom: 0.25rem;
}

.card>div>svg {
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    align-self: left;
    width: 1.0rem;
    height: 1.0rem;
    object-fit: contain;
    stroke-width: 0.4rem;
    opacity: 50%;
}

.card>div>span {
    font: normal normal normal 0.75rem/1.0rem Calibri;
    letter-spacing: 0rem;
    opacity: 50%;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
}

.card>div>.tag-hidden,
.card>div>.tag-hidden.tag-large {
    height: 0.25rem;
    width: 3.0rem;
    margin: 0.25rem;
}

.card>div>.tag-hidden.tag-small {
    width: 0.5rem;  
}

.card>img {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: contain;
    border-radius: 1.25rem;
    position: absolute;
    right: 0.75rem;
    bottom: 0.625rem;
}

.card img {
    border: 0.175rem solid var(--card-background-color);
}

.add-card-button,
.add-card-button:active,
.add-card-button:focus {
    margin-left: 0.15rem;
    margin-right: 0.15rem;
    border: 0.15rem solid;
    display: flex;
    justify-content: center;
    background-color: var(--column-background-color);
    border-color: var(--outline-color);
    height: 2.5rem;
    opacity: 100%;
    -webkit-transition: border-color 0.5s, color 0.5s;
    transition: border-color 0.5s, color 0.5s;
}

.add-card-button:hover {
    border: 0.15rem solid;
    border-color: var(--icon-color-hover);
}

.add-card-button:hover>svg {
    color: var(--icon-color-hover);
}

.add-card-button>svg {
    align-self: center;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0.625rem;
    object-fit: contain;
    stroke-width: 0.4rem;
    color: var(--outline-color);
}


.displayed-card-background {
    position: fixed;
    left: 0rem;
    top: 0rem;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #00000030;
    overflow-y: hidden;
}

.displayed-card-container {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.displayed-card {
    color: var(--card-color);
    background-color: var(--card-background-color);
    border: var(--card-border-size) solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    position: relative;
    min-width: 55%;
    margin-left: 3rem;
    padding: 2.5rem;
    padding-bottom: 7.5rem;
    font-size: 1.25rem;
    box-shadow: 0 0 5rem 0rem var(--shadow-color);
    /*animation-name: opacity-ease-in;*/
    /*animation-duration: 0.125s;*/
    /*animation-iteration-count: 1;*/
    /*animation-timing-function: ease;*/
    /*animation-fill-mode: forwards;*/
}

.displayed-card-details {
    margin-top: 0.0rem;
    margin-right: 12.0rem;
    padding-bottom: 0.5rem;
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.displayed-card-header {
    margin-bottom: 1.875rem;
}

.displayed-card-header>h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0rem;
    margin: 0rem;
    display: inline-block;
    transition: all 0.25s;
}

.displayed-card-header>div {
    opacity: 65%;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#displayed-card-column {
    padding-left: 0.375rem;
    padding-right: 0.25rem;
    font-weight: bold;
    text-decoration: underline;
    color: var(--card-color);
    background-color: var(--card-background-color);
    outline: none;
    border: none;
}

.displayed-card-header>div>svg {
    align-self: center;
    width: 0.75rem;
    height: auto;
    object-fit: contain;
    stroke-width: 0.4rem;
}

.displayed-card-description>p {
    margin-bottom: 0.0rem;
    transition: all 0.25s;
    display: inline-block;
    max-height: 10rem;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.displayed-card p[contentEditable="true"]:focus,
.displayed-card h2[contentEditable="true"]:focus {
    outline: none;
    border: var(--card-background-color-highlighted) solid 0.15rem;
    background-color: var(--card-background-color-highlighted);
    opacity: 80%;
    padding: 0.125rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    transition: all 0.125s;
}
.displayed-card h2[contentEditable="true"]:focus {
    opacity: 85%;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.displayed-card-section {
    margin-top: 1.0rem;
}

.displayed-card-section-name {
    opacity: 65%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.displayed-card-section-name>svg {
    align-self: center;
    width: 1.0rem;
    height: auto;
    margin-right: 0.625rem;
    object-fit: contain;
    stroke-width: 0.4rem;
}

.displayed-card-description {
    margin-bottom: 1.0rem;
}

.displayed-card-task-list {
    margin-top: 0.25rem;
}

.displayed-task {
    margin-top: 0.0625rem;
    margin-bottom: 0.125rem;
    display: flex;
    padding-right: 2.0rem;
    flex-direction: row;
    justify-content: space-between;
}

.displayed-task label.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
}

.displayed-task label.checkbox span:first-child {
    margin-top: 0.2rem;
}

.displayed-task label.checkbox span:first-child {
    opacity: 85% !important;
}

.displayed-task label.checkbox span:last-child {
    width: 90%;
}

.displayed-task label.checkbox span:last-child[contentEditable="true"]:focus {
    outline: none;
    border: var(--card-background-color-highlighted) solid 0.15rem;
    background-color: var(--card-background-color-highlighted);
    opacity: 80%;
    padding: 0.125rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    transition: all 0.125s;
}

.displayed-task .edit-task {
    opacity: 0%;
    margin-right: 0.75em;
    /*padding-top: 0.25em;*/
    width: 1.0rem;
    height: 1.0rem;
    transition: opacity 0.15s;
}

ol:hover .displayed-task .edit-task {
    opacity: 100%;
}

.displayed-task .edit-task svg {
    color: var(--card-color);
    object-fit: contain;
    stroke-width: 0.4rem;
}

.displayed-task .remove-task {
    opacity: 0%;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    margin-top: 0.25rem;
    transition: opacity 0.15s, background-color 0.15s;
}

ol:hover .displayed-task .remove-task {
    opacity: 100%;
}

.displayed-task .remove-task svg {
    color: var(--card-color);
    margin-bottom: 75%;
    object-fit: contain;
    stroke-width: 0.4rem;
    transition: stroke-width 0.15s;
}

.displayed-task .remove-task:hover {
    background-color: var(--critical-color);
}

.displayed-task .remove-task:hover svg {
    color: white;
}

#add-task {
    margin-top: 0.1rem;
    margin-left: 0.15rem;
}

.displayed-card-tag-list {
    display: flex;
    flex-direction: row;
    padding: 0rem;
    justify-content: left;
    flex-wrap: wrap;
}

.displayed-card-tag-list>span,
.displayed-card-tag-list>button {
    position: relative;
    height: 2.0rem;
    margin-right: 1.0rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.displayed-card-tag-list span button.remove-card-tag {
    position: absolute;
    height: 2.0rem;
    width: 0.0rem;
    right: 0.0rem;
    top: 0.0rem;
    background-color: var(--critical-color);
    border-left: 0.0rem solid var(--card-background-color);
    display: flex;
    justify-content: center;
    transition: width 0.125s;
}

.displayed-card-tag-list span button.remove-card-tag>svg {
    height: 2.0rem;
    width: 0.0rem;
    color: white;
    align-self: center;
    stroke-width: 1.0rem;
    transition: width 0.125s, height 0.125s, stroke-width 0.125s;
}

.displayed-card-tag-list span:hover button.remove-card-tag {
    width: 2.125rem;
    border-left: 0.175rem solid var(--card-background-color);
}

.displayed-card-tag-list span:hover button.remove-card-tag>svg {
    height: 2.0rem;
    width: 2.0rem;
    stroke-width: 0.4rem;
}

#add-tag {
    padding: 0rem;
    height: 2.0rem;
    width: 2.0rem;
    align-self: center;
    opacity: 40%;
    stroke-width: 0.0625rem;
}

#add-tag>svg {
    height: 2.0rem;
    width: 2.0rem;
    object-fit: contain;
}

.displayed-card-assignees {
    margin-top: 0.5rem;
}

.displayed-card-assignees>ul {
    padding: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 0.625rem;
}

.displayed-card-assignees>ul>li>div,
.displayed-card-assignees>ul>li>button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-right: 1.25rem;
}

.displayed-card-assignees>ul>li>div img,
#add-assignee>svg {
    align-self: center;
    height: 2.5rem;
    width: 2.5rem;
    object-fit: contain;
    border-radius: 1.25rem;
}

.displayed-card-assignees>ul>li>div .remove-card-assignee {
    position: absolute;
    height: 0.0rem;
    width: 0.0rem;
    left: 2.375rem;
    top: 0.625rem;
    background-color: var(--critical-color);
    border-radius: 1.0rem;
    border: 0.0rem solid var(--card-background-color);
    display: flex;
    justify-content: center;
    transition: height 0.125s, width 0.125s, left 0.125s, top 0.125s;
}

.displayed-card-assignees>ul>li>div .remove-card-assignee>svg {
    height: 0.0rem;
    width: 0.0rem;
    color: white;
    align-self: center;
    stroke-width: 1.0rem;
    transition: height 0.125s, width 0.125s, height 0.125s, stroke-width 0.125s;
}

.displayed-card-assignees>ul>li>div:hover .remove-card-assignee {
    left: 1.5rem;
    top: -0.25rem;
    height: 1.75rem;
    width: 1.75rem;
    border: 0.15rem solid var(--card-background-color);
}

.displayed-card-assignees>ul>li>div:hover .remove-card-assignee>svg {
    height: 1.75rem;
    width: 1.75rem;
    stroke-width: 0.5rem;
}

.displayed-card-assignees>ul>li>div>span,
.displayed-card-assignees>ul>li>button>span {
    align-self: center;
    margin-left: 0.75rem;
    color: var(--card-color);
    -webkit-transition: color 0.125s;
    transition: color 0.125s;
}

.displayed-card-assignees>ul>li>button>span:hover {
    color: var(--card-color-hover);
}

#add-assignee,
#add-due-date,
#add-task,
#add-description,
#add-tag,
#add-files {
    color: var(--card-color);
    opacity: 40%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    -webkit-transition: color 0.125s, opacity 0.125s;
    transition: color 0.125s, opacity 0.125s;
}

#add-assignee:hover,
#add-due-date:hover,
#add-task:hover,
#add-description:hover,
#add-files:hover,
#add-tag:hover {
    opacity: 60%;
    color: var(--card-color-hover);
}

#add-due-date,
#add-description,
#add-files {
    margin-top: 0.25rem;
}

#add-due-date>svg,
#add-task>svg,
#add-description>svg,
#add-files>svg {
    align-self: center;
    width: 1.0rem;
    height: auto;
    margin-right: 0.625rem;
    margin-left: 1.0rem;
    object-fit: contain;
    stroke-width: 0.4rem;
}

.displayed-card-options {
    position: absolute;
    right: 5.0rem;
    bottom: 4.0rem;
}

.displayed-card-options>button,
.displayed-card-options>div {
    background-color: #00000000;
    color: var(--card-color);
    border: none;
    display: flex;
    flex-direction: row;
    margin-top: 1.0rem;
    height: 1.5rem;
    /*-webkit-transition: color 0.125s;*/
    /*transition: color 0.125s;*/
}

.displayed-card-options>button:hover {
    color: var(--card-color-hover);
}

.displayed-card-options>button>svg {
    align-self: center;
    height: 1.25rem;
    width: 1.25rem;
    object-fit: contain;
    margin-right: 0.625rem;
}

.displayed-card-options>button>span {
    align-self: center;
}

.displayed-card-options .divider {
    height: 0rem;
}

.displayed-card-footer {
    position: absolute;
    left: 1.875rem;
    bottom: 1.25rem;
}

.displayed-card-created {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.displayed-card-created>img {
    align-self: center;
    height: 2.5rem;
    width: 2.5rem;
    object-fit: contain;
    border-radius: 1.25rem;
}

.displayed-card-creator {
    align-self: center;
    margin-left: 1.0rem;
}

.displayed-card-creator>span:first-child {
    opacity: 65%;
}

.displayed-card-id {
    margin-top: 0.25rem;
    opacity: 65%;
}

.displayed-card-right-buttons,
.displayed-card-right-top-buttons,
.displayed-card-right-bottom-buttons {
    display: flex;
    flex-direction: column;
}

.displayed-card-right-buttons {
    justify-content: space-between;
    padding: 0.25rem;
}

.displayed-card-right-buttons button {
    height: 2.0rem;
    width: 2.0rem;
    object-fit: contain;
    margin-left: 0.75rem;
}

.displayed-card-right-buttons button {
    color:  var(--icon-color);
    -webkit-transition: color 0.125s;
    transition: color 0.125s;
}

.displayed-card-right-buttons button:hover {
    color: var(--icon-color-hover);
}

.displayed-card-right-top-buttons button {
    margin-bottom: 2.0rem;
}

.displayed-card-right-bottom-buttons button {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 840px) {
    .displayed-card-right-top-buttons {
        position: absolute;
        right: 3.5rem;
        top: 2rem;
    }
    .displayed-card-right-bottom-buttons {
        display: none
    }
    .displayed-card {
        padding-right: 5.0rem;
        margin-left: 0.5rem;
    }
}


.dialog-container {
    position: absolute;
    top: 0rem;
    left: 0rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: #00000080;
}

.dialog {
    align-self: center;
    padding: 2rem;
    padding-bottom: 1.25rem;
    font-size: 1.25rem;
    background-color: var(--card-background-color);
    border: var(--card-border-size) solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    color: var(--card-color);
    box-shadow: 0 0 5rem 0rem var(--shadow-color);
}

.dialog>.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.dialog>.actions>.delete-buttons button {
    margin-left: 2rem;
}

.dialog>.actions button {
    font-size: 1.5rem;
    color: var(--card-color);
}

.dialog>.actions button:hover {
    color: var(--card-color-hover) !important;
}
#delete-confirmation>p {
    opacity: 75%;
}
    
#do-not-confirm + label {
    margin-bottom: 1.0rem;
}

#login-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #00000040;
}

#login-form {
    min-width: 40vw;
    border: var(--card-border-size) solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    padding: 0.0rem;
    box-shadow: 0 0 5rem 0rem var(--shadow-color);
}

#login-form .login-form-card * {
    background-color: var(--card-background-color);
    color: var(--card-color);
    margin: 0;
}

#login-form h1,
#login-form h2,
#login-form .actions button {
    padding: 2.0rem;
    padding-top: 1.25rem;
    padding-bottom: 1.0rem;
}
#login-form h1 {
    padding-bottom: 0.0rem;
}

#login-form div.input-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    background-color: var(--card-background-color-transparent);
    font-size: 1.25rem;
}

#login-form div.input-container input {
    padding: 0.25em;
    padding-left: 0.5em;
    width: 100%;
    background-color: var(--card-background-color-transparent);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: var(--card-border-size) solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    outline: none;
    z-index: 1;
}
#login-form div.input-container input:focus {
    outline: 0.15rem solid var(--outline-color);
    border: var(--card-border-size) solid var(--card-background-color);
    border-radius: var(--card-border-radius);
}

#login-form div.input-container .filler {
    min-width: 2.0rem;
}

#login-form div.divider {
    width: 100%;
    min-height: 2.0rem;
}

#login-form .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

#login-form .actions button {
    font-size: 1.5rem;
    transition: color 0.25s;
}
#login-form .actions button#forgot-password-button {
    opacity: 50%;
}
#login-form .actions button:hover {
    color: var(--card-color-hover);
}

#login-container .login-right-buttons {
    padding: 0.25rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
    position: absolute;
    left: 100%;
    top: 0;
}
#login-container .login-right-buttons button {
    height: 2.0rem;
    width: 2.0rem;
    object-fit: contain;
    margin-left: 0.75rem;
    color:  var(--icon-color);
    -webkit-transition: color 0.125s;
    transition: color 0.125s;
}
#login-container .login-right-buttons button:hover {
    color: var(--icon-color-hover);
}

#no-account-footer {
    position: absolute;
    bottom: -1.0rem;
    padding-bottom: 2.0rem;
    padding-top: 0.0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    box-shadow: 0 0 8.0rem 8.0rem #00000080;
    background-color: #00000080;
}

#no-account-footer span {
    margin: 0.25rem;
    font-size: 1.5rem;
    color: var(--color);
    opacity: 75%;
    text-shadow: 0 0 1.0rem black;
}

#no-account-footer a {
    margin: 0.25rem;
    font-size: 1.5rem;
    color: var(--color);
    text-shadow: 0 0 1.0rem black;
}
